<a href="https://colab.research.google.com/github/bpriantti/Data_Wralling_Com_Python_Utilizando_o_Pandas/blob/main/Data_Wralling_com_Python_Utilizando_o_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wralling com Python - Utilizando o Pandas.
____

__Objetivo:__   

O presente repositório visa abordar de forma auto-explicativa e orientada os principais metodos de __Data Wralling Utilizando a Biblioteca Pandas__ na linguagem python, sendo assim um guia para a programação na linguagem servindo também como repositório para esclarecimento de dúvidas durante o desenvolvimento.

__Autor:__  
   - Bruno Priantti.
    
__Contato:__  
  - b.priantti@outlook.com

__Encontre-me:__  
   -  https://www.linkedin.com/in/bpriantti/  
   -  https://github.com/bpriantti
   -  https://www.instagram.com/brunopriantti/
   
___

## Definição:

Define-se como data wralling o processo de manipulação da base de dados, no sentido de estruturação de informação organizada. Para isso utilizaremos uma ou se não a biblioteca mais utilizada no python chamada pandas, segue o link para a documentação:

https://pandas.pydata.org/docs/

Primeiro de tudo devemos entender o conceito de DataFrame, entendemos como DataFrame o aquivo do tipo pandas, normalmente deriva de um (.csv) ou de uma base de dados SQL, os dataframes carregam dados em linhas e colunas e são uma fonte de informação estruturada.

In [3]:
#para instalar o pandas:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [62]:
#importando a biblioteca
import pandas as pd

#visuaizando atributos e metodos.
pd.__dict__

{'BooleanDtype': pandas.core.arrays.boolean.BooleanDtype,
 'Categorical': pandas.core.arrays.categorical.Categorical,
 'CategoricalDtype': pandas.core.dtypes.dtypes.CategoricalDtype,
 'CategoricalIndex': pandas.core.indexes.category.CategoricalIndex,
 'DataFrame': pandas.core.frame.DataFrame,
 'DateOffset': pandas._libs.tslibs.offsets.DateOffset,
 'DatetimeIndex': pandas.core.indexes.datetimes.DatetimeIndex,
 'DatetimeTZDtype': pandas.core.dtypes.dtypes.DatetimeTZDtype,
 'ExcelFile': pandas.io.excel._base.ExcelFile,
 'ExcelWriter': pandas.io.excel._base.ExcelWriter,
 'Flags': pandas.core.flags.Flags,
 'Float32Dtype': pandas.core.arrays.floating.Float32Dtype,
 'Float64Dtype': pandas.core.arrays.floating.Float64Dtype,
 'Float64Index': pandas.core.indexes.numeric.Float64Index,
 'Grouper': pandas.core.groupby.grouper.Grouper,
 'HDFStore': pandas.io.pytables.HDFStore,
 'Index': pandas.core.indexes.base.Index,
 'IndexSlice': <pandas.core.indexing._IndexSlice at 0x7f62db57ff50>,
 'Int16Dtype': pandas.core.arrays.integer.Int16Dtype,
 'Int32Dtype': pandas.core.arrays.integer.Int32Dtype,
 'Int64Dtype': pandas.core.arrays.integer.Int64Dtype,
 'Int64Index': pandas.core.indexes.numeric.Int64Index,
 'Int8Dtype': pandas.core.arrays.integer.Int8Dtype,
 'Interval': pandas._libs.interval.Interval,
 'IntervalDtype': pandas.core.dtypes.dtypes.IntervalDtype,
 'IntervalIndex': pandas.core.indexes.interval.IntervalIndex,
 'MultiIndex': pandas.core.indexes.multi.MultiIndex,
 'NA': <NA>,
 'NaT': NaT,
 'NamedAgg': pandas.core.groupby.generic.NamedAgg,
 'Period': pandas._libs.tslibs.period.Period,
 'PeriodDtype': pandas.core.dtypes.dtypes.PeriodDtype,
 'PeriodIndex': pandas.core.indexes.period.PeriodIndex,
 'RangeIndex': pandas.core.indexes.range.RangeIndex,
 'Series': pandas.core.series.Series,
 'SparseDtype': pandas.core.arrays.sparse.dtype.SparseDtype,
 'StringDtype': pandas.core.arrays.string_.StringDtype,
 'Timedelta': pandas._libs.tslibs.timedeltas.Timedelta,
 'TimedeltaIndex': pandas.core.indexes.timedeltas.TimedeltaIndex,
 'Timestamp': pandas._libs.tslibs.timestamps.Timestamp,
 'UInt16Dtype': pandas.core.arrays.integer.UInt16Dtype,
 'UInt32Dtype': pandas.core.arrays.integer.UInt32Dtype,
 'UInt64Dtype': pandas.core.arrays.integer.UInt64Dtype,
 'UInt64Index': pandas.core.indexes.numeric.UInt64Index,
 'UInt8Dtype': pandas.core.arrays.integer.UInt8Dtype,
 '__builtins__': {'ArithmeticError': ArithmeticError,
  'AssertionError': AssertionError,
  'AttributeError': AttributeError,
  'BaseException': BaseException,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'BufferError': BufferError,
  'BytesWarning': BytesWarning,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionError': ConnectionError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'DeprecationWarning': DeprecationWarning,
  'EOFError': EOFError,
  'Ellipsis': Ellipsis,
  'EnvironmentError': OSError,
  'Exception': Exception,
  'False': False,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'FloatingPointError': FloatingPointError,
  'FutureWarning': FutureWarning,
  'GeneratorExit': GeneratorExit,
  'IOError': OSError,
  'ImportError': ImportError,
  'ImportWarning': ImportWarning,
  'IndentationError': IndentationError,
  'IndexError': IndexError,
  'InterruptedError': InterruptedError,
  'IsADirectoryError': IsADirectoryError,
  'KeyError': KeyError,
  'KeyboardInterrupt': KeyboardInterrupt,
  'LookupError': LookupError,
  'MemoryError': MemoryError,
  'ModuleNotFoundError': ModuleNotFoundError,
  'NameError': NameError,
  'None': None,
  'NotADirectoryError': NotADirectoryError,
  'NotImplemented': NotImplemented,
  'NotImplementedError': NotImplementedError,
  'OSError': OSError,
  'OverflowError': OverflowError,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'RecursionError': RecursionError,
  'ReferenceError': ReferenceError,
  'ResourceWarning': ResourceWarning,
  'RuntimeError': RuntimeError,
  'RuntimeWarning': RuntimeWarning,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'SyntaxError': SyntaxError,
  'SyntaxWarning': SyntaxWarning,
  'SystemError': SystemError,
  'SystemExit': SystemExit,
  'TabError': TabError,
  'TimeoutError': TimeoutError,
  'True': True,
  'TypeError': TypeError,
  'UnboundLocalError': UnboundLocalError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeError': UnicodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'UnicodeWarning': UnicodeWarning,
  'UserWarning': UserWarning,
  'ValueError': ValueError,
  'Warning': Warning,
  'ZeroDivisionError': ZeroDivisionError,
  '__IPYTHON__': True,
  '__build_class__': <function __build_class__>,
  '__debug__': True,
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__import__': <function __import__>,
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__name__': 'builtins',
  '__package__': '',
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
  'abs': <function abs>,
  'all': <function all>,
  'any': <function any>,
  'ascii': <function ascii>,
  'bin': <function bin>,
  'bool': bool,
  'breakpoint': <function breakpoint>,
  'bytearray': bytearray,
  'bytes': bytes,
  'callable': <function callable>,
  'chr': <function chr>,
  'classmethod': classmethod,
  'compile': <function compile>,
  'complex': complex,
  'copyright': Copyright (c) 2001-2022 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'delattr': <function delattr>,
  'dict': dict,
  'dir': <function dir>,
  'display': <function IPython.core.display.display>,
  'divmod': <function divmod>,
  'dreload': <function IPython.lib.deepreload._dreload>,
  'enumerate': enumerate,
  'eval': <function eval>,
  'exec': <function exec>,
  'execfile': <function _pydev_imps._pydev_execfile.execfile>,
  'filter': filter,
  'float': float,
  'format': <function format>,
  'frozenset': frozenset,
  'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f62f2ebe890>>,
  'getattr': <function getattr>,
  'globals': <function globals>,
  'hasattr': <function hasattr>,
  'hash': <function hash>,
  'help': Type help() for interactive help, or help(object) for help about object.,
  'hex': <function hex>,
  'id': <function id>,
  'input': <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f62f1c5e110>>,
  'int': int,
  'isinstance': <function isinstance>,
  'issubclass': <function issubclass>,
  'iter': <function iter>,
  'len': <function len>,
  'license': Type license() to see the full license text,
  'list': list,
  'locals': <function locals>,
  'map': map,
  'max': <function max>,
  'memoryview': memoryview,
  'min': <function min>,
  'next': <function next>,
  'object': object,
  'oct': <function oct>,
  'open': <function io.open>,
  'ord': <function ord>,
  'pow': <function pow>,
  'print': <function print>,
  'property': property,
  'range': range,
  'repr': <function repr>,
  'reversed': reversed,
  'round': <function round>,
  'runfile': <function _pydev_bundle.pydev_umd.runfile>,
  'set': set,
  'setattr': <function setattr>,
  'slice': slice,
  'sorted': <function sorted>,
  'staticmethod': staticmethod,
  'str': str,
  'sum': <function sum>,
  'super': super,
  'tuple': tuple,
  'type': type,
  'vars': <function vars>,
  'zip': zip},
 '__cached__': '/usr/local/lib/python3.7/dist-packages/pandas/__pycache__/__init__.cpython-37.pyc',
 '__doc__': '\npandas - a powerful data analysis and manipulation library for Python\n=====================================================================\n\n**pandas** is a Python package providing fast, flexible, and expressive data\nstructures designed to make working with "relational" or "labeled" data both\neasy and intuitive. It aims to be the fundamental high-level building block for\ndoing practical, **real world** data analysis in Python. Additionally, it has\nthe broader goal of becoming **the most powerful and flexible open source data\nanalysis / manipulation tool available in any language**. It is already well on\nits way toward this goal.\n\nMain Features\n-------------\nHere are just a few of the things that pandas does well:\n\n  - Easy handling of missing data in floating point as well as non-floating\n    point data.\n  - Size mutability: columns can be inserted and deleted from DataFrame and\n    higher dimensional objects\n  - Automatic and explicit data alignment: objects can be explicitly aligned\n    to a set of labels, or the user can simply ignore the labels and let\n    `Series`, `DataFrame`, etc. automatically align the data for you in\n    computations.\n  - Powerful, flexible group by functionality to perform split-apply-combine\n    operations on data sets, for both aggregating and transforming data.\n  - Make it easy to convert ragged, differently-indexed data in other Python\n    and NumPy data structures into DataFrame objects.\n  - Intelligent label-based slicing, fancy indexing, and subsetting of large\n    data sets.\n  - Intuitive merging and joining data sets.\n  - Flexible reshaping and pivoting of data sets.\n  - Hierarchical labeling of axes (possible to have multiple labels per tick).\n  - Robust IO tools for loading data from flat files (CSV and delimited),\n    Excel files, databases, and saving/loading data from the ultrafast HDF5\n    format.\n  - Time series-specific functionality: date range generation and frequency\n    conversion, moving window statistics, date shifting and lagging.\n',
 '__docformat__': 'restructuredtext',
 '__file__': '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py',
 '__getattr__': <function pandas.__getattr__>,
 '__git_version__': '66e3805b8cabe977f40c05259cc3fcf7ead5687d',
 '__loader__': <_frozen_importlib_external.SourceFileLoader at 0x7f62e0eeff10>,
 '__name__': 'pandas',
 '__package__': 'pandas',
 '__path__': ['/usr/local/lib/python3.7/dist-packages/pandas'],
 '__spec__': ModuleSpec(name='pandas', loader=<_frozen_importlib_external.SourceFileLoader object at 0x7f62e0eeff10>, origin='/usr/local/lib/python3.7/dist-packages/pandas/__init__.py', submodule_search_locations=['/usr/local/lib/python3.7/dist-packages/pandas']),
 '__version__': '1.3.5',
 '_config': <module 'pandas._config' from '/usr/local/lib/python3.7/dist-packages/pandas/_config/__init__.py'>,
 '_hashtable': <module 'pandas._libs.hashtable' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/hashtable.cpython-37m-x86_64-linux-gnu.so'>,
 '_is_numpy_dev': False,
 '_lib': <module 'pandas._libs.lib' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/lib.cpython-37m-x86_64-linux-gnu.so'>,
 '_libs': <module 'pandas._libs' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/__init__.py'>,
 '_np_version_under1p18': False,
 '_testing': <module 'pandas._testing' from '/usr/local/lib/python3.7/dist-packages/pandas/_testing/__init__.py'>,
 '_tslib': <module 'pandas._libs.tslib' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/tslib.cpython-37m-x86_64-linux-gnu.so'>,
 '_typing': <module 'pandas._typing' from '/usr/local/lib/python3.7/dist-packages/pandas/_typing.py'>,
 '_version': <module 'pandas._version' from '/usr/local/lib/python3.7/dist-packages/pandas/_version.py'>,
 'api': <module 'pandas.api' from '/usr/local/lib/python3.7/dist-packages/pandas/api/__init__.py'>,
 'array': <function pandas.core.construction.array>,
 'arrays': <module 'pandas.arrays' from '/usr/local/lib/python3.7/dist-packages/pandas/arrays/__init__.py'>,
 'bdate_range': <function pandas.core.indexes.datetimes.bdate_range>,
 'compat': <module 'pandas.compat' from '/usr/local/lib/python3.7/dist-packages/pandas/compat/__init__.py'>,
 'concat': <function pandas.core.reshape.concat.concat>,
 'core': <module 'pandas.core' from '/usr/local/lib/python3.7/dist-packages/pandas/core/__init__.py'>,
 'crosstab': <function pandas.core.reshape.pivot.crosstab>,
 'cut': <function pandas.core.reshape.tile.cut>,
 'date_range': <function pandas.core.indexes.datetimes.date_range>,
 'describe_option': <pandas._config.config.CallableDynamicDoc at 0x7f62e06aaed0>,
 'errors': <module 'pandas.errors' from '/usr/local/lib/python3.7/dist-packages/pandas/errors/__init__.py'>,
 'eval': <function pandas.core.computation.eval.eval>,
 'factorize': <function pandas.core.algorithms.factorize>,
 'get_dummies': <function pandas.core.reshape.reshape.get_dummies>,
 'get_option': <pandas._config.config.CallableDynamicDoc at 0x7f62e06aaf10>,
 'infer_freq': <function pandas.tseries.frequencies.infer_freq>,
 'interval_range': <function pandas.core.indexes.interval.interval_range>,
 'io': <module 'pandas.io' from '/usr/local/lib/python3.7/dist-packages/pandas/io/__init__.py'>,
 'isna': <function pandas.core.dtypes.missing.isna>,
 'isnull': <function pandas.core.dtypes.missing.isna>,
 'json_normalize': <function pandas.io.json._normalize._json_normalize>,
 'lreshape': <function pandas.core.reshape.melt.lreshape>,
 'melt': <function pandas.core.reshape.melt.melt>,
 'merge': <function pandas.core.reshape.merge.merge>,
 'merge_asof': <function pandas.core.reshape.merge.merge_asof>,
 'merge_ordered': <function pandas.core.reshape.merge.merge_ordered>,
 'notna': <function pandas.core.dtypes.missing.notna>,
 'notnull': <function pandas.core.dtypes.missing.notna>,
 'offsets': <module 'pandas.tseries.offsets' from '/usr/local/lib/python3.7/dist-packages/pandas/tseries/offsets.py'>,
 'option_context': pandas._config.config.option_context,
 'options': <pandas._config.config.DictWrapper at 0x7f62e06ae2d0>,
 'pandas': <module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>,
 'period_range': <function pandas.core.indexes.period.period_range>,
 'pivot': <function pandas.core.reshape.pivot.pivot>,
 'pivot_table': <function pandas.core.reshape.pivot.pivot_table>,
 'plotting': <module 'pandas.plotting' from '/usr/local/lib/python3.7/dist-packages/pandas/plotting/__init__.py'>,
 'qcut': <function pandas.core.reshape.tile.qcut>,
 'read_clipboard': <function pandas.io.clipboards.read_clipboard>,
 'read_csv': <function pandas.io.parsers.readers.read_csv>,
 'read_excel': <function pandas.io.excel._base.read_excel>,
 'read_feather': <function pandas.io.feather_format.read_feather>,
 'read_fwf': <function pandas.io.parsers.readers.read_fwf>,
 'read_gbq': <function pandas.io.gbq.read_gbq>,
 'read_hdf': <function pandas.io.pytables.read_hdf>,
 'read_html': <function pandas.io.html.read_html>,
 'read_json': <function pandas.io.json._json.read_json>,
 'read_orc': <function pandas.io.orc.read_orc>,
 'read_parquet': <function pandas.io.parquet.read_parquet>,
 'read_pickle': <function pandas.io.pickle.read_pickle>,
 'read_sas': <function pandas.io.sas.sasreader.read_sas>,
 'read_spss': <function pandas.io.spss.read_spss>,
 'read_sql': <function pandas.io.sql.read_sql>,
 'read_sql_query': <function pandas.io.sql.read_sql_query>,
 'read_sql_table': <function pandas.io.sql.read_sql_table>,
 'read_stata': <function pandas.io.stata.read_stata>,
 'read_table': <function pandas.io.parsers.readers.read_table>,
 'read_xml': <function pandas.io.xml.read_xml>,
 'reset_option': <pandas._config.config.CallableDynamicDoc at 0x7f62e06aaf90>,
 'set_eng_float_format': <function pandas.io.formats.format.set_eng_float_format>,
 'set_option': <pandas._config.config.CallableDynamicDoc at 0x7f62e06aaf50>,
 'show_versions': <function pandas.util._print_versions.show_versions>,
 'test': <function pandas.util._tester.test>,
 'testing': <module 'pandas.testing' from '/usr/local/lib/python3.7/dist-packages/pandas/testing.py'>,
 'timedelta_range': <function pandas.core.indexes.timedeltas.timedelta_range>,
 'to_datetime': <function pandas.core.tools.datetimes.to_datetime>,
 'to_numeric': <function pandas.core.tools.numeric.to_numeric>,
 'to_pickle': <function pandas.io.pickle.to_pickle>,
 'to_timedelta': <function pandas.core.tools.timedeltas.to_timedelta>,
 'tseries': <module 'pandas.tseries' from '/usr/local/lib/python3.7/dist-packages/pandas/tseries/__init__.py'>,
 'unique': <function pandas.core.algorithms.unique>,
 'util': <module 'pandas.util' from '/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py'>,
 'value_counts': <function pandas.core.algorithms.value_counts>,
 'wide_to_long': <function pandas.core.reshape.melt.wide_to_long>}

___
##Dict para Pandas:

podemos transformar um dict do python em um arquivo pandas, para a melhor visualização e posterior tratamento dos dados.

In [25]:
#conectando API com o site da B3.

import requests
from requests.exceptions import HTTPError

conteudo = None
URL = 'https://www2.cetip.com.br/ConsultarTaxaDi/ConsultarTaxaDICetip.aspx'

try:
 resposta = requests.get(URL)
 resposta.raise_for_status()
except HTTPError as exc:
 print(exc)
else:
 conteudo = resposta.text

#visualizando em formato json
import json
data = json.loads(conteudo)
print(data)

{'taxa': '12,65', 'dataTaxa': '07/06/2022', 'indice': '35.259,35', 'dataIndice': '08/06/2022'}

In [35]:
#como vimos um arquivo json possui as  mesmas caracteristicas de um arquivo dict
#, vamos agora transforma-lo em um arquivo pandas.

data = dict(data)

print(data.keys())
print(data.values())
print(data.items())

dict_keys(['taxa', 'dataTaxa', 'indice', 'dataIndice'])
dict_values(['12,65', '07/06/2022', '35.259,35', '08/06/2022'])
dict_items([('taxa', '12,65'), ('dataTaxa', '07/06/2022'), ('indice', '35.259,35'), ('dataIndice', '08/06/2022')])

In [42]:
#Para criarmos o dataframe
df_cdi = pd.DataFrame(data = list(data.items()), columns = ['keys','values'])

#data: atributo em que se insere as informacoes para o dataframe.
#columns: nome dados as colunas do dataframe.

#verificando na saida
print(df_cdi)
print('')
#tambem podemos utilziar
df_cdi

         keys      values
0        taxa       12,65
1    dataTaxa  07/06/2022
2      indice   35.259,35
3  dataIndice  08/06/2022

         keys      values
0        taxa       12,65
1    dataTaxa  07/06/2022
2      indice   35.259,35
3  dataIndice  08/06/2022

In [43]:
#verificando o tipo, veremos que o objeto é da classe pandas.core.fame.Dataframe
type(df_cdi)

pandas.core.frame.DataFrame

## Lista de principais atributos e da classe pandas:

In [49]:
#verifica as colunas no dataframe
print(df_cdi.columns)

#verifica o tipo de cada coluna no dataframe
print(df_cdi.dtypes)

#verifica o indice do dataframe
print(df_cdi.index)

#verifica o numero de linhas e colunas do dataframe
print(df_cdi.shape)

Index(['keys', 'values'], dtype='object')
keys      object
values    object
dtype: object
RangeIndex(start=0, stop=4, step=1)
(4, 2)

In [61]:
#caso queiramos utilizar o codigo acima de uma forma 'pythonica'

#utilizando uma lista de comandos
sequencia = [df_cdi.columns, df_cdi.dtypes , df_cdi.index, df_cdi.shape]

#utilizando map para aplicar para a sequencia
sequencia_map = list(map(lambda x: print(x), sequencia))

Index(['keys', 'values'], dtype='object')
keys      object
values    object
dtype: object
RangeIndex(start=0, stop=4, step=1)
(4, 2)

## Lista de principais metodos e da classe pandas:

In [64]:
#lista o inicio do dataframe.
print(df_cdi.head(),'\n')

#lista o fim do dataframe.
print(df_cdi.tail(),'\n')

#lista inforamcoes do dataframe.
print(df_cdi.info(),'\n')

#lista informacoes do dataframe, media,min,max,count dentre outras.
print(df_cdi.describe(),'\n')

         keys      values
0        taxa       12,65
1    dataTaxa  07/06/2022
2      indice   35.259,35
3  dataIndice  08/06/2022

         keys      values
0        taxa       12,65
1    dataTaxa  07/06/2022
2      indice   35.259,35
3  dataIndice  08/06/2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   keys    4 non-null      object
 1   values  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes
None

        keys values
count      4      4
unique     4      4
top     taxa  12,65
freq       1      1

## Arquivo .csv para dataframe:
podemos ler um arquivo .csv e manipulado como dataframe com o pandas, para isso primeiros valor criar um arquivo .csv aqui no colab.

In [65]:
%%writefile arquivo.csv

R&D Spend,Administration,Marketing Spend,State,Profit
165349.2,136897.8,471784.1,New York,192261.83
162597.7,151377.59,443898.53,California,191792.06
153441.51,101145.55,407934.54,Florida,191050.39
144372.41,118671.85,383199.62,New York,182901.99
142107.34,91391.77,366168.42,Florida,166187.94
131876.9,99814.71,362861.36,New York,156991.12
134615.46,147198.87,127716.82,California,156122.51
130298.13,145530.06,323876.68,Florida,155752.6
120542.52,148718.95,311613.29,New York,152211.77
123334.88,108679.17,304981.62,California,149759.96
101913.08,110594.11,229160.95,Florida,146121.95
100671.96,91790.61,249744.55,California,144259.4
93863.75,127320.38,249839.44,Florida,141585.52
91992.39,135495.07,252664.93,California,134307.35
119943.24,156547.42,256512.92,Florida,132602.65
114523.61,122616.84,261776.23,New York,129917.04

Writing arquivo.csv

In [68]:
#para realizar o input do arquivo csv
df_arquivo = pd.read_csv('arquivo.csv', sep = ',')

#para exibir o dataframe
df_arquivo.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [69]:
#vamos realizar o uso de alguns metodos do pandas.

#aqui ele verifica informacoes estatisticas do dataframe apenas para as colunas quantitativas
df_arquivo.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      16.000000       16.000000        16.000000      16.000000
mean   126965.255000   124611.921875    312733.375000  157739.130000
std     23045.367297    22177.904606     89661.632158   21290.858284
min     91992.390000    91391.770000    127716.820000  129917.040000
25%    111370.977500   106795.765000    251958.557500  143590.930000
50%    126816.505000   124968.610000    308297.455000  153982.185000
75%    142673.607500   145947.262500    370426.220000  170366.452500
max    165349.200000   156547.420000    471784.100000  192261.830000

## DataWralling:

In [70]:
#vamos selecionar linhas do dataframe, para isso utilziamos .loc
df_arquivo.loc[0]

R&D Spend           165349.2
Administration      136897.8
Marketing Spend     471784.1
State               New York
Profit             192261.83
Name: 0, dtype: object

In [71]:
#caso queiramos selecionar mais de uma linha
df_arquivo.loc[0:2]

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [75]:
#selecionando colunas
df_arquivo['R&D Spend']

0     165349.20
1     162597.70
2     153441.51
3     144372.41
4     142107.34
5     131876.90
6     134615.46
7     130298.13
8     120542.52
9     123334.88
10    101913.08
11    100671.96
12     93863.75
13     91992.39
14    119943.24
15    114523.61
Name: R&D Spend, dtype: float64

In [90]:
#selecionando apenas colunas desejadas
df_arquivo.iloc[0:,[1,3]]

    Administration       State
0        136897.80    New York
1        151377.59  California
2        101145.55     Florida
3        118671.85    New York
4         91391.77     Florida
5         99814.71    New York
6        147198.87  California
7        145530.06     Florida
8        148718.95    New York
9        108679.17  California
10       110594.11     Florida
11        91790.61  California
12       127320.38     Florida
13       135495.07  California
14       156547.42     Florida
15       122616.84    New York

__Observe que:__

- loc() é um método de seleção de dados baseado em rótulo, o que significa que temos que passar o nome da linha ou coluna que queremos selecionar.

- loc() é um método de seleção baseado em indexação, o que significa que temos que passar o índice inteiro no método para selecionar uma linha/coluna específica